/*start: Mikes stuff*/
/*remove tags*/
#tags,[aria-label="Tags"],.md-button[aria-label="nui.mainmenu.label.tags"],.md-button[aria-label="?TIQUETTES"],md-card.transparent-card:nth-child(2) {display: none;}

/*remove "Show results beyond my Libraries collection"*/
#facets > prm-facet > div > div > div.sidebar-section.margin-top-small.margin-bottom-medium.compensate-padding-left {display: none;}

/*Hide Get It from other institution (Full view)*/
#getit_link1_0 > div > prm-full-view-service-container > div.section-body > div > prm-alma-more-inst > md-tabs, 
#getit_link1_0 > div > prm-full-view-service-container > div.section-body > div > prm-alma-more-inst > h3 {
	display: none;
}

/*Hide Virtual Browse*/
#virtualBrowse {display: none;}
[aria-label="Virtual Browse"] {display: none;}

/*Hide "Get it" link for online resources*/
#getit_link2 > div {display: none;}
[aria-label="Get It 2"] {display: none;}

/*Remove browse search link (main menu)*/
[aria-label="Browse"].md-button.flex-button {display: none;}
#main\20 menu > [aria-label="Browse"],

#main\20 menu > [aria-label="mainmenu.label.Browse"],
#browseSearch, 
#clearSearch,
[translate="mainmenu.label.Browse"], 
[translate="nui.mainmenu.description.Browse"],
[translate="nui.mainmenu.label.browse"] {display: none;}/*when screen is smaller and menu options appear under elipses*/

/*Remove "ENGLISH" from under username*/
prm-topbar > div > prm-user-area > button:nth-child(2) > div > span.user-language.text-uppercase {display: none;}

/*remove lanuage options under My Account*/
prm-personal-info > div.layout-wrap.layout-align-center-start.layout-row > md-card:nth-child(2) {display: none;}
prm-change-lang {display: none;}

/*remove edit button under My Account*/
#personal_settings-focus {display: none;}

/*remove letter checkboxes under My Account*/
#personalDetails > md-card-content > div:nth-child(5), #personalDetails > md-card-content > md-divder.card-divider.margin-bottom-medium.layout-margin {display: none;}

/*remove patron group to new line*/
prm-personal-info > div.tab-content-header.layout-align-space-between-end.layout-row > div > div.header-subtitle > div > div > em > span:nth-child(2) {display: none;}

/*remove "Search for:" on advanced search*/
#advanced-search > form > div > div.advanced-search-tabs.padded-container.layout-wrap.layout-align-space-between-center.layout-row > div.input-cell.layout-wrap.layout-align-start-center.layout-row > span {display: none;}

/*remove scopes from basic search*/
div.search-options.flex-sm-40.visible > prm-tabs-and-scopes-selector > div > md-input-container:nth-child(4) {display: none;}
div.search-options.flex-sm-40.visible > prm-tabs-and-scopes-selector > div > md-divider:nth-child(3) {display: none;}

/*move first advanced search box to line up labels/inputs*/
#advanced-search > form > div > div.layout-xs-column.layout-row.flex > md-card.zero-margin.marginless-inputs.padded-container._md.md-primoExplore-theme.layout-align-start-start.layout-column.flex > div.layout-full-width.layout-align-start-start.layout-column > div:nth-child(1) {
	margin-left: 11.7%;
	width: 88.3%;
	min-width: 88.3%;
}

/*remove valid from/to from personal details area*/
label[for="prm_contact.address_valid_from"] + input, label[for="prm_contact.address_valid_from"] {display: none;}
label[for="prm_contact.address_valid_to"] + input, label[for="prm_contact.address_valid_to"] {display: none;}

/*remove "Multiple Sources exist" from full display and search results*/
prm-search-result-frbr-line > span {display: none;}

/*remove availability text in full record view*/
prm-full-view-service-container prm-brief-result-container prm-search-result-availability-line {display: none;}

/*remove "Additional Services" from View It*/
[name="uResolverViewItForm"] div h1 {display: none;}
[name="uResolverViewItForm"] div ul:first-of-type {padding-bottom: 1em;}

/*add space to link out icon in "Links" section of full view*/
[translate="fulldisplay.worldcat"] {padding-right: 1.8em;}

/*Remove Hide Details from monograph records*/
#selectIssueForm > div > div > ul > li:last-child { display: none }

/*remove space from left of "Request an interload"*/
.iframeHeader .submitAsLink.popout {margin-left:0px;}

/*increase send-to box sizes to allow all text to fit*/
.saved-query-list>md-nav-bar .md-nav-item, prm-action-list>md-nav-bar .md-nav-item {max-width:110px}

/*Remove the "Return to" line in the Loans area*/
#tab-content-1 > div > div > prm-loans > md-list > md-list-item > prm-loan > div.md-list-item-text.layout-wrap.layout-row.flex > div.weak-text.flex-xs-100.flex-40 > p { display: none; }
#tab-content-0 > div > div > div > prm-loans-overview > div > div > md-list > md-list-item > div > div._md-list-item-inner > div.md-list-item-text > p.normal-text.loans-brief-display.no-wrap-line.weak-text {display:none;}

/*Use current no results text for the no results page*/
#mainResults > div.margin-bottom-medium > prm-no-search-result > md-card > md-card-content > ul > li:nth-child(5) {display:none;}

/*move sort options*/
@media screen and (min-width: 960px) {
	#facets > prm-facet > div > div > div.sidebar-section.margin-bottom-small.compensate-padding-left.layout-row	{
		margin-left: 260%;
		position: absolute;
		margin-top: -27px;
		z-index:1;
	}
	#facets > prm-facet > div > div > div.sidebar-section.margin-bottom-small.compensate-padding-left.layout-row > div > h3 {
		font-size: 0.85em;
		font-weight: 600;
	}
	prm-search-result-sort-by {
		padding-bottom: 6px;
		font-size: 14px;
	}
	prm-facet > div.primo-scrollbar.is-stuck > div > div.sidebar-section.margin-bottom-small.compensate-padding-left.layout-row {
		display:none;
	}
}


/*change page number heading to lower case*/

div._md-subheader-inner > div._md-subheader-content > span.text.tiny-uppercase-text {
	letter-spacing: 0;
	text-transform: capitalize;
}

/*resize E-journal search box label to fit*/
prm-browse-search-bar .journal-search-tile, prm-journals-search-bar .journal-search-tile, prm-tags-search-bar .journal-search-tile {width:95px;}

/*tidy up date facet in Firefox*/
[translate="facets.date.slider.from"] + input {max-width:80px !important;}
[translate="facets.date.slider.to"] + input {max-width:80px !important;}

/*capitalise 'reviews" in advanced search material type dropdown*/
md-select-menu > md-content > [value="reviews"] {text-transform: capitalize;}


/*Direct linking stuff*/
/*make "view details" remain visible on record mouseover*/
prm-search-result-availability-line {
	z-index: 10;
}
/*borrowing entitlements link*/
.borrowing_entitlements_div {
	margin-top: 14px;
	float: right;
}
/*fines policy link*/
.fine_rates_div {
	float: right;
	top: 0;
	margin-right: -15px;
}

/*fix up $ sign in fines display*/
div.in-element-dialog-context.layout-row.flex > div.md-list-item-text.layout-wrap.layout-row.flex > div.weak-text.flex-xs-100.flex > p.bold-text {
	direction: rtl;
	float: left;
}
div > div > prm-fines > md-list > md-list-item > div.in-element-dialog-context.layout-row.flex > div.md-list-item-text.layout-wrap.layout-row.flex > div.weak-text.flex-xs-100.flex [translate="nui.fine.brief.2"] {
	padding-left: 1em;
}
div > div._md-list-item-inner > div.md-list-item-text > p.bold-text.weak-text {
	direction: rtl;
}
fix up fines button positioning until Merrin fixes it at her end
#pay_fines_btn_wrapper_main {
	height: 0;
	top: 0;
}
#tab-content-0 > div > div > div > prm-fines-overview > div > div > div.tile-header.layout-column > div.layout-align-space-between-stretch.layout-row > h2 {
    margin-top:0px;
}
#pay_fines_btn_wrapper_overview {
    position: relative;
    top: 0;
    margin-left: 45%;
}
prm-view-online > div > a > prm-icon [aria-label="icon-open-in-new"] {
	margin-left: 0.5em;
}

/*warning div for openUrl linking on services page*/
#outWarning_div {
	height: 5em;
	text-align: center;
	padding-top: 1.8em;
    margin-top: 2em;
    font-weight: bold;
    font-size: 1.5em;
}
#loading_img {
	margin-top: 1em;
    display: block;
    width: 100%;
	height: 100%;
	background: url(../img/loading.gif) no-repeat 50%;
	background-size: 40px 40px;
}
/*fix the topbar in the services page*/
prm-services-page prm-topbar {
	height: 140px;
}
prm-services-page prm-topbar > div{
	border-top: 13px solid #f9c000;
}
prm-services-page prm-user-area {
	display: none;
}
prm-services-page prm-search-bookmark-filter {
	display: none !important;
}
prm-services-page div.full-view-section-content prm-full-view-service-container {
	display: none;
}
/*change colour of title in full result view*/
#brief > prm-full-view-service-container > div.section-body > prm-brief-result-container > div.list-item-primary-content.result-item-primary-content.layout-row > div.result-item-text.layout-fill.layout-column.flex > prm-brief-result > h3 > a > span > prm-highlight > span { 
	color: #6d6d6d;
	/*cursor: auto;*/
}

/*remove fan thumbnails*/
prm-search-result-thumbnail-container .fan-img:nth-of-type(1) {
	transform: none !important;
}
prm-search-result-thumbnail-container > div > img:nth-of-type(2) {
	display: none;
}
prm-search-result-thumbnail-container > div > img:nth-of-type(3) {
	display: none;
}
/*Make the search button clickable when dropdown present*/
/*body > primo-explore > div > prm-explore-main > div > prm-search-bar > div.layout-fill.layout-column.zero-padding > div, 
._md-select-menu-container {
	z-index: 100;
}
.md-dialog-container {
	z-index: 101;
}
._md-select-menu-container {
	z-index: 102;
}
.__sm .sidebar, .__xs .sidebar {
	z-index: 101;
}
md-toolbar.bottom-fixed-toolbar, md-toolbar.md-primoExplore-theme.bottom-fixed-toolbar, md-toolbar:not(.md-menu-toolbar).bottom-fixed-toolbar {
	z-index: 102;
}
prm-search-bookmark-filter #fixed-buttons-holder.fixed-to-top {
	z-index: 103;
}*/
@media screen and (min-height: 460px) {
	@media screen and (min-width: 1280px) {
		/*make send-to vertical*/
		[aria-label="Send to"] {
			display: none;
		}
		prm-full-view #scrollActionList {
			flex-direction: column;
		}
		body.md-dialog-is-showing prm-action-list {
			float: right;
			top: 2em;
			position: fixed;
			right: 0;
		}
		prm-full-view-page #action_list {
			float: right;
			top: -4em;
			position: absolute;
			right: -4em;
		}
		#action_list > div > prm-full-view-service-container > div.section-body > prm-action-list > md-nav-bar > div {
			right: 50%;
		}

		#scrollActionList {
			align-items: center;
			align-content: center;
		}
		body.md-dialog-is-showing prm-action-container {
			top: 24em;
			position: fixed;
			float: right;
			right: 1em;
		}
		prm-full-view-page prm-action-container {
			top: 22em;
			position: absolute;
			float: right;
			right: 1em;
		}
		prm-full-view .send-actions-content-item>md-content, prm-full-view .send-actions-content-item>md-content.md-primoExplore-theme {
			padding: 2px;
		}
		#action_list .flex-20 {
			flex: initial;
			max-width: 0;
		}
		#action_list prm-full-view-service-container md-divider, #action_list prm-full-view-service-container h4 {
			display: none;
		}
	
		/*citation trails to the right*/
		[aria-label="References"] {
			display: none;
		}
		body.md-dialog-is-showing #citationTrails {
			bottom: 2em;
			position: fixed;
			float: right;
			right: 1em;
			padding: 0;
		}
		prm-full-view-page #citationTrails {
			top: 38em;
			position: absolute;
			float: right;
			right: 1em;
			padding: 0;
		}
		#citationTrails .full-view-section-content {
			padding: 0;
		}
		/* make actions sit on top of other elements */
		prm-action-list, prm-action-container {
			z-index: 15;
		}
		@media screen and (min-width: 1890px) {
			prm-full-view prm-action-container .layout-fill {
				width: 30em;
			}
			prm-full-view-page prm-action-list {
				right: -33em;
			}
			prm-full-view-page prm-action-container {
				right: 2em;
			}
			#citationTrails {
				width: 26em;
			}
		}
		@media screen and (max-width: 1890px) {
			prm-full-view prm-action-container .layout-fill {
				width: 29em;
			}
			prm-full-view-page prm-action-list {
				right: -31em;
			}
			prm-full-view-page prm-action-container {
				right: 3em;
				width: 27em;
			}
			#citationTrails {
				width: 25em;
			}
		}
		@media screen and (max-width: 1800px) {
			prm-full-view prm-action-container .layout-fill {
				width: 28em;
			}
			prm-full-view-page prm-action-list {
				right: -31em;
			}
			prm-full-view-page prm-action-container {
				right: 3em;
				width: 27em;
			}
			#citationTrails {
				width: 23.5em;
			}
		}
		@media screen and (max-width: 1710px) {
			prm-full-view prm-action-container .layout-fill {
				width: 26em;
			}
			prm-full-view-page prm-action-list {
				right: -30em;
			}
			prm-full-view-page prm-action-container {
				right: 4em;
				width: 25em;
			}
			#citationTrails {
				width: 22em;
			}
		}
		@media screen and (max-width: 1620px) {
			prm-full-view prm-action-container .layout-fill {
				width: 22em;
			}
			prm-full-view-page prm-action-list {
				right: -26em;
			}
			prm-full-view-page prm-action-container {
				right: 1.5em;
				width: 24em;
			}
			#citationTrails {
				width: 18em;
			}
		}
		@media screen and (max-width: 1530px) {
			prm-full-view prm-action-container .layout-fill {
				width: 20em;
			}
			prm-full-view-page prm-action-list {
				right: -26em;
			}
			prm-full-view-page prm-action-container {
				right: 1em;
				width: 24em;
			}
			#citationTrails {
				width: 16em;
			}
		}
		@media screen and (max-width: 1440px) {
			prm-full-view prm-action-container .layout-fill {
				width: 19em;
			}
			prm-full-view-page prm-action-list {
				right: -24em;
			}
			prm-full-view-page prm-action-container {
				right: -1em;
				width: 24em;
			}
			#citationTrails {
				width: 15em;
			}
		}
		@media screen and (max-width: 1350px) {
			prm-full-view prm-action-container .layout-fill {
				width: 18em;
			}
			#citationTrails {
				width: 14em;
			}
		}
		@media screen and (max-width: 1280px) {
			prm-full-view prm-action-container .layout-fill {
				width: 16em;
			}
			prm-full-view-page prm-action-list {
				right: -24em;
			}
			prm-full-view-page prm-action-container {
				right: -2em;
				width: 24em;
			}
			#citationTrails {
				width: 12em;
			}
		}
		
		/* fix up "send email" for small screen heights */
		@media screen and (max-height: 730px) {
			prm-action-container prm-send-email {
				top: 16em;
				position: fixed;
				float: right;
				right: 1em;
			}
			prm-full-view-page prm-action-container prm-send-email {
				top: 2em;
				position: absolute;
				float: right;
				right: 2em;
			}
			[name="emailForm"] [name="subject"] {
				font-size: 0.8em;
			}
			prm-send-email .send-actions-content-item {
				padding: 0;
			}
			prm-send-email md-input-container {
				margin: 10px 0 0 0;
			}
			[name="emailForm"] .layout-margin {
				margin: 0 8px;
				padding: 0 8px;
			}
		}
	}
}

/*fixes the sticky "exclude" facet option*/
#facets > prm-facet > div > div > div > prm-facet-group > div > prm-facet-exact > div > div.md-chips.md-chips-wrap > div:nth-child(6):focus {
	display: none;
}

/*"out" icon in fines area*/
.cust_prm_out {
	padding-left: 0.5em;
	display: inline;
}
.cust_prm_out md-icon {
	height: 16px;
	width: 16px;
	min-height: 16px;
	min-width: 16px;
}

/*mobile stuff - menu, etc*/
md-backdrop._md-dialog-backdrop {
	z-index: 80;
}

prm-main-menu md-card.transparent-card:nth-child(2) {
	display: flex;
}
prm-main-menu div > prm-authentication {
	padding-left: 0.8em;
}
/*updated sort by dropdown*/
#sort_by_dropdown_wrapper {
	overflow: hidden;
	display: block;
	margin-bottom: -1.1em;
}

#sort_by_dropdown_header {
	font-size: 0.85em;
    font-weight: 600;
	float: right;
	padding-top: 0.8em;
}
#sort_by_dropdown_wrapper > prm-search-result-sort-by {
	padding: 0;
	margin-top: -0.05em;
	float: right;
}
/*when controlled vocab box present*/
.controlled_vocab_present {
	margin-top: 3em;
}
#mainResults > div.margin-bottom-medium {
	margin-top: -4.5em;
}
#facets > prm-facet > div > div > div.sidebar-section.margin-bottom-small.compensate-padding-left.layout-row {
	display: none;
}
#mainResults > div.results-title.layout-align-start-center.layout-row {
	width: 50%;
}

/*add border to bottom of view-it/get-it frame*/
prm-alma-mashup .mashup-iframe {
	border-bottom: 1px solid #EDEDED !important;
}
/*hide rss feed icon in saved searches area*/
[aria-label="Set an RSS for this search"] {
	display: none;
}
/*adjust "sort by" in favourites*/
prm-favorites md-tabs-wrapper {
	position: absolute;
	width: 80%;
}
prm-favorites .section-title {
	margin-top: -6em;
	margin-left: -11em;
	position: absolute;
}
prm-favorites [translate="nui.favorites.sortby"] {
	font-size: 13px;
    font-weight: 600;
}
prm-favorites .static-select.empty-select-on-init.md-primoExplore-theme.layout-row.md-input-has-value {
	font-size: 14px;
	padding-bottom: 0.15em;
}
prm-favorites .main._md.md-primoExplore-theme.layout-align-center-start.layout-row.flex.padded-container {
	padding-top: 5em;
}
prm-favorites md-tabs.md-dynamic-height md-tabs-content-wrapper {
	margin-top: 3em;
}
prm-favorites div > md-content > div.flex {
	margin-top: -3em;
}

/*make facet checkboxes show on facet area hover*/
prm-facet > div:hover .multiselect-facet-group.multiselect-inactive .md-chip md-checkbox {
	opacity: 1;
	visibility: visible;
	z-index: 100;
	transform: scaleX(1);
	transition: all 0s 0s;
}
/* make the lock show on facets area */
prm-facet prm-breadcrumbs div.md-chip-content strong {
	padding-left: 22px;
}
prm-breadcrumbs .md-chips .md-chip-content .persistence-button {
	opacity: 1;
	transform: none;
	padding-left: -2px;
}
prm-breadcrumbs .md-chip.persistent-facet strong {
	padding-left: 0;
}
prm-breadcrumbs .md-chip.persistent-facet .md-chip-content .persistence-button {
	left: -1px;
}
/*stop the facets from jump in when checkbox ticked*/
.md-chip.animate-opacity-and-scale.facet-element-marker-rtype ,
.md-chip.animate-opacity-and-scale.facet-element-marker-tlevel,
.md-chip.animate-opacity-and-scale.facet-element-marker-library,
.md-chip.animate-opacity-and-scale.facet-element-marker-topic,
.md-chip.animate-opacity-and-scale.facet-element-marker-jtitle,
.section-content.animate-max-height-variable.md-chip{
	transform: none;
}
/*stop the checkbox remaining after it's unchecked*/
prm-facet .multiselect-facet-group.multiselect-inactive .md-chip md-checkbox:focus{
	visibility: hidden;
}
/*align alert bar "sign in" */
prm-alert-bar [translate="eshelf.signin.title"] {
	line-height: normal;
}
/*date facet adjustments*/
prm-facet md-input-container .md-input {
	border-bottom-color: rgba(0,0,0,.12);
	width: 4.5em;
    margin-right: 0.8em;
}
/*make chrome date facet inputs always show arrows*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
	opacity: 1;
}
/*fines warning icon in my account area*/
md-pagination-wrapper > md-tab-item:nth-child(4) > div > div {
	display: none;
}
#overview_cust_fines_warn {
	border-radius: 50%;
	background-color: tomato;
	height: 16px;
    width: 16px;
    min-height: 16px;
    min-width: 16px;
}
prm-account-overview md-tabs-canvas md-icon {
	margin-left: 4px;
}
/*favorites back button*/
a#back_button {
	padding-top: 0.3em;
	font-weight: 300;
    font-size: 1em;
    margin-right: .5em;
    padding-left: .5em;
	color: grey;
	right: 23%;
	position: absolute;
	box-shadow: none;
	padding-right: 0.5em;
}
#back_button > md-icon {
	height: 28px;
    width: 28px;
	margin-right: 0.5em;
}
/* hide non-utf-8 options in export to ris/bibtex dropdown*/
[value="windows-1251"], 
[value="US-ASCII"], 
[value="ISO-8859-1"], 
prm-export-ris ._md-select-icon, 
prm-export-bibtex ._md-select-icon {
	display: none !important;
	cursor: pointer;
}
/*allow clicking while autocomplete box is open*/
.md-scroll-mask {
    position: initial
}
/*hide default back to search in my account*/
#backtosearch {
	display: none;
}
/*no search results*/
#sort_by_dropdown_wrapper.no_results {
	display: none;
}
prm-no-search-result md-card.default-card.zero-margin._md.md-primoExplore-theme {
	margin-top: 4.5em !important;
}

.pinDummy.animating {
                top: 6em !important;
                left: calc(100% - 7.2em) !important;
}


/*FRV sign in option*/
prm-login-alma-mashup>div.bar.alert-bar.layout-align-center-center.layout-row {
    display: none;
}
#frv_pre_signin_btn {
	text-transform: none;
    font-size: 1em;
    min-width: 0;
    padding: .3em .35em;
    line-height: 1em;
    min-height: 0;
    margin: 0 .25em;
    overflow: visible;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    letter-spacing: 0;
    color: #416ebf;
}
#frv_signin_dropdown {
	height: 2.5em;
}
#frv_signin_dropdown select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-border-radius: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	padding: .5em 1.5em .5em .4em;
	background: url(../img/chevron-down.png) 90% 57% no-repeat #FFF;
    background-size: auto auto;
	background-size: 13%;
	border: 1px solid #CCC;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(204, 204, 204);
	border-right: none;
	height: 2.4em;
}
#frv_signin_btn {
	color: #333;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	width: 70px;
	background: #FC0;
	padding: .5em 0;
	margin-left: -3px;
	border: 1px solid #CCC;
	height: 2.4em;
}
/*remove odd stuff when signing in*/
prm-stand-alone-login {
	display: none;
}
/*make main menu hovers sentence case*/
md-tooltip > div._md-content._md._md-show:first-letter {
	text-transform: uppercase;
}
/*hide "sign in" link on search results alert bar */
prm-alert-bar prm-authentication {
	display: none;
}
/*hide duplicate wording under main menu elipses*/
prm-main-menu md-card-title-text .md-subhead {
	display: none;
}

/*fix search options dropdown width*/
prm-search-bar div.search-options.flex-sm-40.visible {
                max-width: 11.7em;
                width: 11.7em;
}

/*fix size of advanced search options dropdowns*/
prm-advanced-search md-card.zero-margin.marginless-inputs.padded-container._md.md-primoExplore-theme.layout-column.flex-gt-sm-30.flex {
                width: 11.7em;
                max-width: 13.8em;
}

/*back to search button mods*/
@media screen and (max-width:600px) {
                prm-favorites-tool-bar a#back_button {
                                font-size: 0;
                }
}
@media screen and (max-width:375px) {
                prm-favorites-tool-bar a#back_button {
                                display: none;
                }
}
@media screen and (max-width:380px) {
                prm-account a#back_button {
                                font-size: 0;
                }
}
@media screen and (max-width:870px) {
                a#back_button {
                                right: 0;
                }
}
/*main menu mods (under ellipses)*/
prm-main-menu div.padded-container-medium.layout-xs-column.layout-align-xs-start-start.layout-align-center-center.layout-row {
                display: none;
}
prm-main-menu md-divider.md-primoExplore-theme {
                display: none;
}
prm-main-menu div.custom-links-container.layout-wrap.layout-align-sm-start-start.layout-align-center-start.layout-row {
                margin-top: 2em;
}
/*hide facet heading in e-Journal search*/
prm-journals prm-search div#facets prm-facet div.sidebar-section.compensate-padding-left {
                display: none;
}

/*make long search terms in advanced search overflow correctly*/
prm-advanced-search div.search-string.padding-right-medium.hide-xs.layout-column.flex > div {
                overflow: hidden;
}
/*account overview headings to look like links*/
prm-account-overview #accountoverview h2.header-link.light-text {
                color: #416ebf;
}
/*account overview tab changes*/
@media screen and (max-width:860px) and (min-width:750px) {
	prm-account-overview div.borrowing_entitlements_div {
		width:10%;
		height: 2.4em;
		text-overflow: ellipsis;
		overflow: hidden;
		direction: ltr;
		margin-top: 4px;
	}
	prm-account-overview div.borrowing_entitlements_div a {
		height: 1.2em;
	}
}
@media screen and (max-width:750px) and (min-width:680px) {
	prm-account-overview div.borrowing_entitlements_div {
		display: none;
	}
}
@media screen and (max-width:680px) {
	prm-account-overview #accountoverview md-tabs-canvas {
		margin: 0 0 0 32px;
	}
	prm-account-overview div.borrowing_entitlements_div {
		display: flex;
	}
	prm-account-overview md-prev-button, prm-account-overview md-next-button, prm-account-overview md-tab-item {
		display: none;
	}
	prm-account-overview md-tab-item:first-of-type {
		display: block;
		border: 1px solid #e1e1e1;
		border-radius: 3px 3px 0 0;
		border-bottom: none;
		color: #416ebf !important;
	}
	prm-account-overview md-tab-item:first-of-type.md-active {
		color: #333 !important;
	}
}
@media screen and (max-width:385px) {
	prm-account-overview div.borrowing_entitlements_div {
		width: 9em;
		right: 0;
		margin-right: -2em;
		margin-top: 6px;
	}
}
/*pay fines button at smaller screen sizes*/
@media screen and (max-width:599px) {
	prm-fines > div > div.layout-column > div.header-title.layout-row {
		padding-top: 0.5em;
		width: 180px;
	}
	.fine_rates_div {
		margin-top: 7px;
		width: 8em;
		margin-right: -34px;
		right: 0;
		position: absolute;
	}
}
/*advanced search small screen size*/
@media screen and (max-width:599px) {
	prm-search-bar md-input-container.underlined-input.bold-text.md-primoExplore-theme.flex {
		margin-top: 3em;
		height: 2em;
		width: 90%;
		max-width: 100%;
		position: absolute;
		left: 1em;
	}
	#advanced-search > form > div > div.layout-xs-column.layout-row.flex > md-card.zero-margin.marginless-inputs.padded-container._md.md-primoExplore-theme.layout-align-start-start.layout-column.flex > div.layout-full-width.layout-align-start-start.layout-column > div:nth-child(1) {
		margin-left: 0;
	}
	prm-search-bar div.layout-xs-column.layout-row.flex md-card div {
		margin-top: 2em;
	}
	prm-search-bar div.layout-xs-column.layout-row.flex md-card div:first-child {
		margin-top: 0;
	}
}
/*fix facet widths*/
prm-search div#facets {
	flex: 1 1 25%;
    max-width: 25%;
    max-height: 100%;
    box-sizing: border-box;
	min-width: 19em;
}
/*show favorites sort in ipad view*/
#favoritesLabels {
	display: block !important;
}
/*remove address stuff from my account*/
prm-personal-info md-card-header.transparent-toolbar.layout-fill,
prm-personal-info md-card-content.presentable-disabled-inputs.animate-form-inputs.layout-wrap.layout-row > div:nth-child(1),
prm-personal-info md-divder.card-divider.margin-bottom-large.layout-margin {
	display: none;
}
prm-personal-info > div.layout-wrap.layout-align-center-start.layout-row md-card {
	background-color: #fff;
	box-shadow: none;
	margin-left: -2.3em;
}
/*bookmark filter tidyup*/
prm-search-bookmark-filter a:hover {
	box-shadow: none;
}
/*make the lib card hover behave like the other icons*/
#library_card_button_not_signed_in:hover, #library_card_button > button > prm-icon:hover {
	background-color: rgba(0,0,0,.1);
	transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}
/*direct linking - background color while waiting for stuff to load*/
prm-search-result-list div.list-item-wrapper {
	background-color: #fff;
}
#view_deets {
	margin-top: 0.5em;
}
/*hide exlibris default icons*/
.fallback-img {
	/* display: none; */
}
/*central floor info*/
.cenFloor {
	padding-left: 5px;
	font-weight: bold;
}
/*fix bug where overdue is showing for historic loans*/
#accountoverview md-tab-item.md-tab:nth-child(2) > div:nth-child(1) [icon-definition="timer"] {
	display: none;
}
prm-advanced-search div.date-range-inputs.animate-input.layout-row > md-input-container > md-select > md-select-value > span._md-select-icon {
	width: 15px;
}
/*make the thumbnail images clearer (default is 60px)*/
prm-search-result-thumbnail-container > div > img {
	width: 64px !important;
}
/* disable "show notification" option when saving search (doesn't currently work) */
.md-higlight {
	display:none;
}
/*feb release remove default exl sign in area*/
#changUserStatus {
	display: none;
}
/*fix first result not having an underline (not a complete fix)*/
.peer-reviewed-mark {
	padding: 4px 0 0 0;
}
/*remove sms option under my account > details*/
prm-personal-info md-input-container.underlined-input.md-primoExplore-theme.layout-column md-checkbox {
	display: none;
}
/*end: Mikes stuff*/